@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/MullerRegular.woff") format("woff");
}
@font-face {
  font-family: "Muller";
  font-style: medium;
  font-weight: 500;
  src: url("assets/fonts/MullerMedium.woff") format("woff");
}
@font-face {
  font-family: "Muller";
  font-style: bold;
  font-weight: 800;
  src: url("assets/fonts/MullerExtraBold.woff") format("woff");
}

*{
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 1512px;
  margin: 0 auto;
  background-color: #210A01;
  text-align: center;
}

.btn_clip{
    cursor: pointer;
    border: 3px solid transparent; /*Обводка нужной толщины, но прозрачная*/
    background: linear-gradient(#FF6939 , #FFA631); /*Нужный градиент в качестве фона*/
    box-shadow: inset 0px 0px 0px 100vw #210A01; /*Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку*/
    
}

.btn_text_clip{
    font-family: Muller, Arial, sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to left, #FF6432, #FFA228);
    color: transparent;
    background-clip: text;
}
