@import "css/header/header.css";
@import "css/main/main.css";
@import "css/buttons/button_clip.css";
@import "css/fontawesome/css/solid.css";
@import "css/fontawesome/css/fontawesome.css";

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/MullerRegular.woff") format("woff");
}
@font-face {
  font-family: "Muller";
  font-style: medium;
  font-weight: 500;
  src: url("assets/fonts/MullerMedium.woff") format("woff");
}
@font-face {
  font-family: "Muller";
  font-style: bold;
  font-weight: 800;
  src: url("assets/fonts/MullerExtraBold.woff") format("woff");
}

*{
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 1512px;
  margin: 0 auto;
  background-color: #210A01;
  text-align: center;
}
